#display {
  border: solid black 1px;
  color: blue;
  width: 295px;
  height: 100px;
  margin-left: 30%;
  
}

.operator-button-clear {
  margin-left: 101%;
  height: 100px;
  width: 100px;
  font-size: 1rem;
}

.operator-button {
  width: 100px;
  height: 100px;
  font-size: 1rem;
}